
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--toggle-text-color);
    font-family: 'Rubik+Doodle+Shadow';
}

:root {
    --bg-color: #4CAF50;
    --toggle-text-color: #333333;
}

.header a {
    background-color: var(--bg-color);
    color: white;
    padding: 1% 1%;
    margin: 1% 2%;
    text-decoration: none;
    font-size: 1.5em;
}

.toggle-text {
    padding: 2%;
    margin: 1% 0%;
    background-color: var(--toggle-text-color);
    color: #fff;
    cursor: pointer;
}

/* Style du texte caché */
.hidden-text {
    display: none;
}

p strong {
    font-weight: bold;
}