* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

:root {
    --bg-color: #038b69;
}

.header a {
    background-color: var(--bg-color);
    color: white;
    padding: 2.5%;
    text-decoration: none;
}