
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: min(3vw, 15px);
    font-family: 'Rubik+Doodle+Shadow';
}

:root {
    --bg-color: #000000;
    --text-color: #2ECC71;
    --toggle-band-color: #154360;
}

.filtres {
    background-color: var(--bg-color);
    color: var(--toggle-text-color);
    text-align: center;
    text-decoration: none;
    font-size: min(5vw, 20px);
}

.toggle-text {
    padding: min(1%, 8px);
    margin: min(2%, 10px) 0%;
    color: var(--text-color);
    background-color: var(--toggle-band-color);
    font-size: min(5vw, 20px);
    cursor: pointer;
}

/* Style du texte caché */
.hidden-text {
    display: none;
    color: var(--text-color);
}

p strong {
    font-weight: bold;
}

#title {
    text-decoration: none;
    color: var(--text-color);
    font-size: min(10vw, 50px);
    text-align: center;
    margin: 1% 0%;
}